html {

}
body{

}
.main {
    background-image: linear-gradient(to bottom right, #7b3f00, #836539);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
h1 {
    color: #500000;
    text-align: left;
    /*margin-left: 1em;*/
    padding-top: 0.55em;
    padding-bottom: 0.55em;
    /* font-family: "Brush Script MT", cursive;         Still having issues rendering the right font for this - Wanted cursive. */
    font-size: 3em;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: black;
}
p1{
    font-size: 2em;
    padding-left: 10%;
}
p2 {
    font-size: 1.5em;
    padding-left: 5%;
}
ul{
    padding-left: 18%;
    font-size: 1.5em;
}
ul2{

}
.grid-container{
    display: grid;
    grid-template-columns: 200px 700px 300px;
    grid-auto-rows: minmax(150px, auto);
}
.grid-item-2{
    /*border-style: solid;
    border-width: 5px;
    border-color: black; */
}
.grid-item-3 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding-left: 1em;
}
