a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: goldenrod !important;
    font-family: Didot, serif;
}

html {
  font-size: 14px;

}
@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
nav .navbar-nav li a{
    color: goldenrod !important;
    font-family: Didot, serif;
}