
/*    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    */
.filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poiret One', serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    /*z-index:3;*/
}


.h7 {
    font-size: 1.5em;
    color: goldenrod;
    font-weight: normal;
    font-family: 'Poiret One', serif;
    text-align: center;
}

.filterForm {
    position: relative;
    width: 14rem;
    margin-top: 4vh;
}
    
.chosen-value,
.value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.chosen-value {
    font-family: 'Poiret One', serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    height: 4rem;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: darkgoldenrod;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.chosen-value::-webkit-input-placeholder {
        color: #333;
    }

.chosen-value:hover {
        background-color:goldenrod;

        cursor: pointer;
    }

.chosen-value:hover::-webkit-input-placeholder {
            color: #333;
        }

.chosen-value:focus, .chosen-value.open {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
        outline: 0;
        background-color: goldenrod;
        color: #000;
    }

.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
            color: #000;
        }

.value-list {
    list-style: none;
    margin-top: 4rem;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in-out;
}

.value-list.open {
        max-height: 320px;
        overflow: auto;
    }

.value-list li {
        position: relative;
        height: 4rem;
        background-color: black;
        padding: 1rem;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
        opacity: 1;
    }

.value-list li:hover {
            background-color: goldenrod;
        }

.value-list li.closed {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            opacity: 0;
        }
