
#root {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(209deg, rgba(0,0,0,1) 0%, rgba(124,71,43,1) 53%, rgba(0,0,0,1) 100%);
}

.MainContainer {
    min-width: 98vw;
    min-height: 50vh;
    background-color: whitesmoke;
    opacity: 0.4;
    color: black;
    -webkit-box-shadow: 12px 12px 13px -4px rgba(214,214,214,0.54);
    -moz-box-shadow: 12px 12px 13px -4px rgba(214,214,214,0.54);
    box-shadow: 12px 12px 13px -4px rgba(214,214,214,0.54);
    border-radius: 5px;
}

.SecondaryContainer {
    min-height: 60vh;
}

.NavBarContainer {
    background-color: whitesmoke;
    opacity: 0.4;
}

.display-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.display-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.display-table th,
.display-table td {
    padding: 12px 15px;
}

.display-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

    .display-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .display-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .display-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }