@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Limelight);

    
.wrapper {
    padding: 50px;
    background: #191919;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 0 2px #b5a642, 0 0 0 4px #191919, 0 0 0 6px #b5a642;
    margin: 20px auto;
    width: 95%;
    max-width: 1000px;
}

.form-con.search {
    display: flex;
    justify-content: center;
}

.form-con.search form {
    position: relative;
    }

.form-con.search input {
    border: 2px solid #b5a642;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px;
    line-height: 1em;
    max-width: 42px;
    width: 300px;
    color: #191919;
    background: #191919;
    transition: max-width 0.4s 0s, color 0.4s 0s;
    cursor: pointer;
    }

.form-con.search input::-webkit-input-placeholder {
    color: #191919;
    transition: color 0.4s 0s;
        }

.form-con.search input:focus {
    max-width: 300px;
    transition: max-width 0.4s 0.4s, color 0.4s 0.4s;
    outline: none;
    color: #b5a642;
    cursor: auto;
        }

.form-con.search input:focus::-webkit-input-placeholder {
    color: #b5a642;
    transition: color 0.4s 0.4s;
            }

.form-con.search input:focus ~ span {
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s 0.4s;
    cursor: pointer;
            }

.form-con.search input:focus ~ span:hover:before, .form-con.search input:focus ~ span:hover:after {
    background-color: #790000;
    transition: 0.4s;
                }

.form-con.search input:focus div {
    transform: rotate(45deg) translateX(-100px);
    opacity: 0;
    transition: transform 0.4s 0s, opacity 0.2s 0.2s;
            }

.form-con.search input + div {
    width: 20px;
    height: 2px;
    background-color: transparent;
    transform: rotate(45deg);
    position: absolute;
    bottom: -7px;
    right: -7px;
    transform-origin: 100% 50%;
    opacity: 1;
    transition: transform 0.4s 0.4s, opacity 0.2s 0.4s;
        }

.form-con.search input + div:before, .form-con.search input + div:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 4px;
    background-color: #b5a642;
    top: 50%;
    transform: translateY(-50%);
            }

.form-con.search input + div:before {
    left: 0;
    width: 16px;
            }

.form-con.search input + div:after {
    right: 0;
    width: 2px;
            }

.form-con.search span {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s 0s;
    }

.form-con.search span:before, .form-con.search span:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    left: 50%;
    background-color: #ac0000;
    top: 50%;
        }

.form-con.search span:before {
    transform: translateX(-50%) rotate(45deg);
        }

.form-con.search span:after {
    transform: translateX(-50%) rotate(-45deg);
        }


/*filter*/
.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.filter {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

    .filter label {
        margin-right: 10px;
        font-size: 24px;
        color: #b5a642;
        min-width: 50px;
    }

    .filter select {
        padding: 8px 12px;
        border: 1px solid #b5a642;
        border-radius: 4px;
        font-size: 16px;
        color: goldenrod;
        background-color: #191919;
        transition: border-color 0.3s ease;
        flex-grow: 1;
    }



        .filter select:focus {
            outline: none;
            border-color: goldenrod;
            box-shadow: 0 0 0 2px #b5a642;
        }

        .filter select option {
            font-size: 14px;
            color: goldenrod;
        }

            .filter select option:first-child {
                color: #888;
            }

        .filter select:hover {
            cursor: pointer;
            border-color: #b5a642;
            color: goldenrod;
        }

        .filter select:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

            .filter select:disabled:hover {
                border-color: #ccc;
                cursor: not-allowed;
            }

.reset-button {
    background-color: #191919;
    color: goldenrod;
    border: 1px solid #b5a642;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .reset-button:hover {
        background-color: #191919;
    }

    .reset-button:focus {
        outline: none;
    }





